*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;

}

.project-list{
    display: flex;
    margin: 15px;
    margin-left: 15px;
   
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-left: 45px;
}
.project a {
    margin-left: 40px;
    font-size: x-large;
}
.project a:hover{
   color: red;
}

